;; -*- mode: emacs-lisp -*-

(setq serika-user-full-name "")
(setq serika-user-email "")
(setq serika-configuration-path-registration
      (list 'user-project-directory "/"))

(setq serika-dired-helm-locations
      '("home" (func/system/user-home)
        "org"  org-directory
        "wiki" org-wikinyan-location))
